/*------------font imports---------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');
@import url("https://use.typekit.net/kcc6ovm.css");
@import url("https://kit.fontawesome.com/dc970f7d76.js");


/*-----big global styles------*/

body{
  background-color: #ffffff;
  font-family: 'sofia-pro', sans-serif;
  font-weight: 300;
	padding: 0;
	margin: 0;
	line-height: 1.3em;
	font-size: 20px;
}

a{
  text-decoration: none;
  color: inherit;
}

p {margin-top: .5em;}

p > a{
	font-weight: 500;
	color: #2b2c77;
	transition: .5s;
}

p > a:hover{
	color: #f16163;
}

.link{
	font-style: italic;
	color: #2b2c77;
	transition: .5s;
	text-decoration: underline;
}
.link:hover{
	color: #f16163;

}
.social{
	font-size: 2.5em;
	color: #2b2c77;
	transition: .5s;
	margin-right: .25em;
}
.social:hover{
	color: #f16163;

}
/*-------------header styles------------------*/
h1{
  margin-bottom: .05em;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 700;
	color: #2b2c77;
	line-height: 1.1em;
	font-size: 1.75em;
}
h2{
  margin-bottom: .1em;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 700;
	color: #2b2c77;
	line-height: 1.15em;
}

h3{
  margin-top: 0;
  font-weight: 400;
	margin-bottom: .1em;
}

.abouttext li{
	margin-bottom: .5em;
}

/*------------layout wrapper & grid setup-------------*/
.layout {
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-gap: 1em;
  margin-left: 1em;
	margin-right: 1em;
	margin-bottom: .5em;
}
/*grid box padding*/
.layout > div{
  padding: 1em;
}


/*octopus image width*/
.octo{
  width: 100%;
}

/*-----------------------grid boxes-----------------*/
.menu{
  grid-column: 11/13;
	grid-row-start: 1;
  text-align: right;
	z-index: 3;
	align-items: center;
}
.menutext{
	font-family: 'sofia-pro', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	color: #2b2c77;
	transition: .5s;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;

}
.menutext.is-active{
	opacity: 0;
}

.nav{
	grid-column: 10/13;
	grid-row: 1/3;
	z-index: 2;
	background-color: #fff;
	height: 0px;
	padding: 8em;
	padding-left: 7em;
	border-radius: 1em;
	overflow:hidden;
	transition: height .75s;
}
.nav.is-active{
	height: 175px;

}
.nav li{
	font-size: 1.25em;
	line-height: 1.75em;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 700;
	list-style-type: none;
	color: black;
	transition: .5s;
}

.nav li:hover{
	color: #f16163;
}

b{
	font-weight: 400;
}

/*-----------*/

.introimg{
  grid-column: 1/7;
	grid-row-start: 2;
  text-align: center;
	z-index: 1;
}
.boxleft{
	grid-column: 2/7;
}
.boxright{
	grid-column: 7/12;
}

.boxfull{
  grid-column: 2/12;
}

.imgthreefour{
	grid-column: 1/8;
	grid-row-start: 2;
	text-align: center;
	z-index: 1;
}
.breadcrumb{
	grid-column: 2/11;
	grid-row-start: 1;
	text-align: left;
	z-index: 1;
	margin-top: 1em;
}
.imgfullwidth{
	grid-column: 2/12;
	grid-row-start: 2;
	text-align: center;
	z-index: 1;
}
.introtext{
  grid-column: 7/11;
  vertical-align: middle;
	grid-row-start: 3;
	z-index: 1;
}

.abouttext{
  grid-column: 7/12;
  vertical-align: middle;
	grid-row-start: 2;
	z-index: 1;
	padding-top: 0;
	display: grid;
	place-content: center;
}

.textright{
  grid-column: 8/12;
  vertical-align: middle;
	grid-row-start: 2;
	z-index: 1;
	padding-top: 0;
}
.textmiddle{
	grid-column: 2/11;
	vertical-align: middle;
	grid-row-start: 3;
	z-index: 1;
	padding-top: 0;
}


.abouttext h1, .aboutsearch h1{
	margin-top: 0;
}



/*portfolio section*/
.work{
  grid-column: 2/12;
  text-align: center;
	margin-bottom: 2em;
}
.aboutsearch{
	grid-column: 7/12;
	text-align: left;
	margin-bottom: 4em;

}
/*extra design elements*/
.waves1{
  grid-column: 11/13;
  align-self:flex-end;
	grid-row-start: 2;
	z-index: 1;
}
.deco{
  width: 100%;
}





/*--*/




.workimg{
  width: 100%;
}
.grid{
	margin-left: 1.5em;
	margin-top: 1em;
}
.grid-item{
	width: 32%;
	overflow: hidden;
	margin: 0em;
//	background: #eeeeee;
//	margin: .2em;
padding: 0;
}
.grid-item:hover > .grid-overlay-wrap{
	top:0;
}

.grid-overlay-wrap{
	position: absolute;
	top: -100%;
	z-index: 2;
	width: 100%;
	height: 99.4%;
	align-items: center;
	transition: .75s;
	background-color: #2b2c77;
}

.grid-overlay-text{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grid-overlay-text > h2, .grid-overlay-text > p, .grid-overlay-text > hr {
	color: white;
	margin-bottom: .25em;
	margin-top: .25em;
}


.foot{
	grid-column: 1/13;
	//background-color: #eeeeee;
	height: auto;
	padding: 1em;
	font-size: .75em;
	color: #666666;
}

/*--misc styles--*/
.cta, button{
  text-decoration: none;
  background: none;
  font-family: "sofia-pro",sans-serif;
	font-weight: 700;
	font-size: 1.5em;
//  width:fit-content;
  color: #f16163;
  transition: .75s;
	padding-bottom: .1em;
//	border-bottom: .1em #f16163 solid;
	border-top: 0;
	border-left: 0;
	border-right: 0;
  text-align: left;
}

.cta:hover, .galleryfilter:hover{
  color: #39479e;
}

#portraited{
	display: none;
}
#servicectaportrait{
	display: none;
}

#workspacer{
	height: 1em;
}


button{
	font-size: 1em;
	margin: .5em;
	border: none;
}

button:focus{
	outline: 0;
}

#textbox{
	padding: .5em;
	border-radius:.5em;
	border: 1px solid #999;
	width: 40%;
	font-family: Montserrat;
	font-size: 1em;
	font-weight: 200;
	margin-right: .5em;
	margin-top: 1em;
}

.galleryfilter:focus{
	outline:0;
	background-color: #eeeeee;
	color: #39479e;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .1em;
	padding-bottom: .25em;
}

.nobg:hover, .nobg:focus{
	background-color: none;
}
