@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url("https://use.typekit.net/ass6oec.css");
@import url('https://fonts.googleapis.com/css?family=Lobster');



html{
	background: url('svgs/fridge.png') no-repeat center center;
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
}
body{
	min-height: 100%;
	font-family: 'Montserrat';
	font-weight: 300;
	color: #222222;
}
h1{
	font-family: voltage, Lobster, sans-serif;
	font-size: 48px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #ff2c27;

}
h2{
	font-family: 'Voltage';
	font-size: 48px;
	margin-bottom: 0px;
	margin-top: 10px;
	color: #ff2c27;

}
h3{
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 0px;
	color: #ff2c27;

}
.rhead{
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
}
.smaller{
	margin: 0;
	padding: 0;
}

#logo{
	position: fixed;
	top: 0px;
	left: 10px;
	width: 100px;
	transition: .75s;
	z-index: 2;
}

#logo:hover{
	width: 110px;
}

#fscreen{
	width: 50%;
	position: absolute;
	left: 35%;
	top: 10%;
	background-color: #a6ffff;
	background: -webkit-linear-gradient(#ffe1d6, #a6ffff);
	height: auto;
	border-radius: 10px;
	opacity: 0;
	margin-bottom: 100px;
	transition: .7s;
	z-index: 0;
}

#screen:hover{
	opacity: .95;
}

#nav{
	position: relative;
	top: 0;
	left: 0;
}
.nav{
	width: 80px;
	display: inline-block;
	margin: 32px;
	margin-bottom: 10px;
	margin-top: 20px;
}
#search{
	width: 90%;
	position: relative;
	left: 5%;	
}
#content{
	width: 90%;
	position: relative;
	left: 5%;
	margin-bottom: 50px;
	overflow: auto;
	height: auto;
}


#searchbar{
	font-size: 36px;
	width: 88%;

}
.searchbar{
	display: inline-block;
}
#Q{
	width: 10%;
}

#scanner{
	width: 280px;
	background-color: #a6ffff;
	opacity: .7;
	animation-name: scan;
	animation-duration: 5s;
	animation-iteration-count: 3;
	z-index: 1;
	position: fixed;
	left: 110px;
	top: 20px;

}

@keyframes scan {
	0%{height: 0px;}
	50%{height: 600px;}
	100%{height: 0px;}
}
#scanpopup{
	width: 400px;
	position: absolute;
	left: 10%;
	top: 20%;
	background-color: #a6ffff;
	background: -webkit-linear-gradient(#ffe1d6, #a6ffff);
	height: auto;
	border-radius: 10px;
	opacity: .9;
	transition: .7s;
	z-index: 3;
	padding: 20px;
	text-align: center;
}



.category{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #ff2c27;
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	width: 45%;
	border-radius: 10px;
	z-index: 2;
	opacity: 1;
	display: inline-block;
	margin: 10px;
	transition: .75s;
}
.category:hover{
	font-size: 28px;
}
 a{
	text-decoration: none;
	color: white;
}
#checks{
	line-height: 28px;
}

#servingsize{
	font-size: 18px;
	width: 36px;
	font-family: 'Montserrat';
}

#unwanted, #add{
	font-size: 18px;
	font-family: 'Montserrat';
}

.added{
	background-color: #ff2c27;
	color: #fff;
	padding: 5px;
	margin: 5px;
	width: auto;
	display: inline-block;
	border-radius: 5px;
}




.link{
	width: 240px;
	background-color: #ff2c27;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	font-size: 24px;
	text-transform: uppercase;
	font-size: 20px;
	margin: 10px;
	border-radius: 10px;
	opacity: .8;
	transition: .75s;

}
.link:hover{
	opacity: 1;
}

.hidden{
	display: none;
}
#filtersort{
	position: absolute;
	top: 48px;
	right: 10px;
	width: 285px;
	text-align: right;
}
.fsbutton{
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 0px;
	padding: 8px;
	border-radius: 5px;
	color: #fff;
	background-color: #ff2c27;
	display: inline-block;
	cursor: pointer;

}
#fitems{
	background-color: #fff;
	width: 230px;
	position: absolute;
	top: 45px;
	padding: 10px;
	border-radius: 5px;
	opacity: .9;
}
#sitems{
	background-color: #ffffff;
	width: 200px;
	position: absolute;
	top: 45px;
	left: 72px;
	padding: 10px;
	border-radius: 5px;
	opacity: .9;
}

.sli{
	padding: 3px;
	transition: .5s;
}
.sli:hover {
    background-color: #ff2c27;
   	color: #fff;
   	border-radius: 2px;
}
/*link for recipe in a card*/
.recipecard{
    background-color: #ff2c27;
   	color: #fff;
   	border-radius: 5px;
   	padding: 10px;
   	width: 145px;
   	text-align: center;
   	display: inline-block;
   	margin:5px;
   	font-size: 12px;
}
/*samplerecipe*/
#recipe{
	height: 450px;
	overflow: auto;
	margin-top: 20px;
}
/*recipe steps*/
.steps{
	font-size: 20px;
}
/*bottom buttons*/
.bb{
	width: 100%;
	text-align: center;
}


