@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url("https://use.typekit.net/ass6oec.css");
@import url('https://fonts.googleapis.com/css?family=Lobster');


body{
	min-height: 100%;
	background-color: #a6ffff;
	background: -webkit-linear-gradient(#ffe1d6, #a6ffff) no-repeat;
	background-attachment: fixed;
	font-family: 'Montserrat';
}

#content{
	width: 80%;
	position: absolute;
	left: 10%;
	text-align: center;

}
h1{
	font-family: voltage, Lobster, sans-serif;
	font-size: 48px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #ff2c27;
}

.link{
	width: 300px;
	background-color: #ff2c27;
	color: #fff;
	text-decoration: none;
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 20px;
	margin: 10px;
	border-radius: 10px;
	opacity: .8;
	transition: .75s;

}
.link:hover{
	opacity: 1;
}
a{
	text-decoration: none;
}