@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url("https://use.typekit.net/ass6oec.css");


html{
	background: url('svgs/kitchen.png') no-repeat center center;
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
}
body{
	min-height: 100%;
	font-family: 'Montserrat';
	font-weight: 300;
	color: #222222;
}
h1{
	font-family: 'Voltage';
	font-size: 48px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #ff2c27;

}
h2{
	font-family: 'Voltage';
	font-size: 48px;
	margin-bottom: 0px;
	margin-top: 10px;
	color: #ff2c27;

}
h3{
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 0px;
	color: #ff2c27;

}
#logo{
	position: fixed;
	top: 0px;
	left: 10px;
	width: 100px;
	transition: .75s;
}

#logo:hover{
	width: 110px;
}

#screen{
	width: 50%;
	position: absolute;
	left: 25%;
	top: 10%;
	background-color: #a6ffff;
	background: -webkit-linear-gradient(#ffe1d6, #a6ffff);
	height: auto;
	border-radius: 10px;
	opacity: .85;
	margin-bottom: 100px;
	transition: .7s;
}

#screen:hover{
	opacity: .95;
}

#nav{
	position: relative;
	top: 0;
	left: 0;
}
.nav{
	width: 80px;
	display: inline-block;
	margin: 32px;
	margin-bottom: 10px;
	margin-top: 20px;
}
#search{
	width: 90%;
	position: relative;
	left: 5%;	
}
#content{
	width: 90%;
	position: relative;
	left: 5%;
	margin-bottom: 100px;
	overflow: auto;
	height: 650px;
}


#searchbar{
	font-size: 36px;
	width: 88%;

}
.searchbar{
	display: inline-block;
}
#Q{
	width: 10%;
}

.category{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #ff2c27;
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	width: 45%;
	border-radius: 10px;
	z-index: 2;
	opacity: 1;
	display: inline-block;
	margin: 10px;
	transition: .75s;
}
.category:hover{
	font-size: 28px;
}
 a{
	text-decoration: none;
	color: white;
}
#checks{
	line-height: 28px;
}

#servingsize{
	font-size: 18px;
	width: 36px;
	font-family: 'Montserrat';
}

#unwanted, #add{
	font-size: 18px;
	font-family: 'Montserrat';
}

.added{
	background-color: #ff2c27;
	color: #fff;
	padding: 5px;
	margin: 5px;
	width: auto;
	display: inline-block;
	border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff2c27;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff2c27;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.link{
	width: 200px;
	background-color: #ff2c27;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	font-size: 24px;
	text-transform: uppercase;
	font-size: 20px;
	margin: 10px;
	border-radius: 10px;
	opacity: .8;
	transition: .75s;

}
.link:hover{
	opacity: 1;
}




