/*---------------------------------------------basics--------------------------------------------------*/

body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat';
	color: #333333;
	font-weight: 300;
}

a{
	border: none;
	text-decoration: none;
	color: #FFCCCC;
	font-weight: 600;
	transition: .75s;
}

a:hover{
	color: #9999CC;
}

p{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 36px;
}

/*---------------------------------------------fonts--------------------------------------------------*/

@font-face {
	font-family: 'moon';
	src: url('MoonTypeface/Moon_Light.otf');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i');


/*------------------------------------------home button--------------------------------------------*/
#home{
	position: fixed;
	top: 10px;
	left: 10px;
}

.home{
	display: block;
	z-index: 22;
	margin: 24px;
	font-size: 72px;
	background-color: #FFCCCC;
	color: white;
	width: 84px;
	height: 84px;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
	transition: .75s;
}

.home:hover{
	background: -webkit-linear-gradient(#9999CC, #FFCCCC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9999CC, #FFCCCC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9999CC, #FFCCCC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9999CC, #FFCCCC); /* Standard syntax */
    color: #FFFFFF;
    font-size: 76px;
	width: 88px;
	height: 88px;
}


.tooltipster-sidetip.tooltipster-light.tooltipster-light-customized .tooltipster-box {
	background-color: #FFFFFF;
	padding: 2px;
	border-radius: 3px;
}

.tooltipster-sidetip.tooltipster-light.tooltipster-light-customized .tooltipster-content {
	font-family: 'Montserrat';
	font-size: 22px;
	color: #FFCCCC;
}



/*-----------------------------------------animation page content--------------------------------------------------*/

#animationbox h1 {
	font-family: 'moon';
	color: #9999CC;
	font-size: 50px;
}



#animationbox{
	width: 85%;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	padding-top: 2%;
	margin-bottom: 100px;
	z-index: -5;

}

#vimeobutton{
	padding: 20px;
	background-color: #FFCCCC;
	border-radius: 3px;
	transition: .75s;
	font-family: 'moon';
	color: #FFFFFF;
	font-size: 50px;

}

#vimeobutton:hover{
	background-color: #9999CC;
	font-size: 65px;
}

/*illustration*/

.illustrate{
	border-radius: 50%;
	width: 50%;
	height: 50%;
	margin: 4%;
	margin-top: 6%;
	transition: .75s;
}

.illustrate:hover{
	width: 55%;
	height: 55%;
	margin-top: 4%;

}


