@import url(https://fonts.googleapis.com/css?family=Open+Sans);

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 90%;
        width: 90%;
        position: absolute;
        top: 5%;
        left: 5%;
      }
      .fouroneone{
        display: inline-block;
        margin: 10px;
        vertical-align: top;
        max-width: 300px;
        font-family: "verdana";
        font-size: 12px;
      }

      td{
        padding: 10px;
        font-size: 12px;
        font-family: 'open sans';
      }
      h1{
        color: #cc0000;
      }
      h2{
        color: #615445;
      }